.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.square {
  width: 50px;
  height: 50px;
}

.light:nth-child(odd) {
  background-color: #f0d9b5;
}

.light:nth-child(even) {
  background-color: #b58863;
}

.dark:nth-child(odd) {
  background-color: #b58863;
}

.dark:nth-child(even) {
  background-color: #f0d9b5;
}
