.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.square {
  width: 50px;
  height: 50px;
}

.square.light {
  background-color: #b58863;
}

.square.dark {
  background-color: #f0d9b5;
}



/* apply styles based on row and column */
.square:nth-child(2n) {
  background-color: #b58863;
}

.square:nth-child(2n+1) {
  background-color: #f0d9b5;
}

.square.row-0:nth-child(odd),
.square.row-1:nth-child(even),
.square.row-2:nth-child(odd),
.square.row-3:nth-child(even),
.square.row-4:nth-child(odd),
.square.row-5:nth-child(even),
.square.row-6:nth-child(odd),
.square.row-7:nth-child(even) {
  background-color: #b58863;
}

.square.row-0:nth-child(even),
.square.row-1:nth-child(odd),
.square.row-2:nth-child(even),
.square.row-3:nth-child(odd),
.square.row-4:nth-child(even),
.square.row-5:nth-child(odd),
.square.row-6:nth-child(even),
.square.row-7:nth-child(odd) {
  background-color: #f0d9b5;
}
